<table class="table table-bordered table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Comment</th>
      <th>Source</th>
      <th>By</th>
      <th>Posted at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @comments %>
  </tbody>
</table>
