<div class="list-group">
  <%= link_to "Manage Item", admin_store_items_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Manage Order", admin_store_orders_path, class: "list-group-item list-group-item-action" %>
</div>
