<h3>List of Article</h3>
<hr>

<p>
  <%= link_to "New Article", new_admin_article_path %>
</p>
<table class="table table-bordered table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>By</th>
      <th>Status</th>
      <th>Published?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @articles %>
  </tbody>
</table>
