$("#article-status_<%= @article.id %>").html("<%= j render partial: 'article_status', locals: {:article => @article} %>");
$("#article-state_<%= @article.id %>").html("<span class='badge badge-primary'>Approved</span>");
// swal("Good Job!", "You have mark this article as published!", "success")
