<h3>List of Coupon Code <small><%= link_to "back to items list", admin_store_items_path, class: "btn btn-link" %></small></h3>
<hr>

<p>
  <%= link_to "New Coupon Code", new_admin_store_item_coupon_path(@item) %>
</p>
<table class="table table-bordered table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Code</th>
      <th>Valid From</th>
      <th>Valid Until</th>
      <th>Redemptions Limit</th>
      <th>Redemptions Count</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @coupons %>
  </tbody>
</table>
