<h3>List of Order <small><%= link_to "back to dashboard", admin_store_dashboard_path, class: "btn btn-link" %></small></h3>
<hr>

<table class="table table-bordered table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
      <th>Status</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>
