body {
  // font-family: 'Raleway', sans-serif;
  // padding-top: 20px;
  padding: 30px 0;
  background-color: #e5e5e5;
}

.container {
  background-color: #fff;
  border-radius: 4px;
  padding: 0 30px;
}

.masthead .brand {
  text-align: center;
  padding: 40px 0;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.carousel {
  padding-bottom: 20px;
}

.card-comment {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 400px) {

  .card-mobile {
    width: 163%;
  }

}
