<footer class="footer small">
  <p>
    &copy;2017. KLDX Team. All right reserved<br/>
    <%= link_to "Manage Account", login_path %> | <%= link_to "Register New ", register_path %>
  </p>
</footer>
